{{#if this}}
    <table id="leaderboard-table">
        <thead>
            <tr>
                <th scope="col">Rank</th>
                <th scope="col">Player</th>
                <th scope="col">Games</th>
            </tr>
        </thead>
        <tbody>
            {{#each this}}
                <tr>
                    <td class="number-rank">
                        <img class="halo-rank" src="{{concat 'base_url' '/templates/bundle/assets/ranks/' (calcMajorRank halo_reach_team_hardcore) '.png'}}" />
                        <span class="rank">{{halo_reach_team_hardcore}}</span>
                    </td>
                    <td><a href="/profile/{{player__gamertag}}"> <img class="emblem" src="{{player__emblem}}" /> <span class="gamertag">{{player__gamertag}}</span></a></td>
                    <td class="number-right">{{numCommaFormat player__matches}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
    <div id="no-players">NO PLAYERS TO RANK</div>
{{/if}}