{{#if this}}
    <table id="leaderboard-table">
        <thead>
            <tr>
                <th scope="col">Rank</th>
                <th scope="col">Player</th>
                <th scope="col">Games</th>
            </tr>
        </thead>
        <tbody>
            {{#each this}}
                <tr>
                    <td class="number-rank">
                        <img class="halo-rank" src="{{concat 'base_url' '/templates/bundle/assets/ranks/' (calcMajorRank hce_hardcore_doubles) '.png'}}" />
                        <span class="rank">{{hce_hardcore_doubles}}</span>
                    </td>
                    <td>
                        <a href="/profile/{{player__gamertag}}"><img class="emblem" src="{{player__emblem}}" /><span class="gamertag" style="color: {{player__color}}">{{player__gamertag}}</span></a>
                        {{#ifCond player__donation '>' 0}}
                            <span id="donator-wrapper">
                                <span class="icon donator tippy" data-title="${{player__donation}}{{#if player__notes}} + {{player__notes}}{{/if}}"><i style="color: {{donateColors player__donation}}" class="fas fa-dollar-sign"></i></span>
                                {{#ifCond player__social '==' 'youtube'}}<a class="icon youtube" href="{{player__youtube}}" target="_blank"><i class="fab fa-youtube"></i></a>{{/ifCond}}
                                {{#ifCond player__social '==' 'twitch'}}<a class="icon twitch" href="{{player__twitch}}" target="_blank"><i class="fab fa-twitch"></i></a>{{/ifCond}}
                                {{#ifCond player__social '==' 'mixer'}}<a class="icon mixer" href="{{player__mixer}}" target="_blank"><i class="fab fa-mixer"></i></a>{{/ifCond}}
                                {{#ifCond player__social '==' 'twitter'}}<a class="icon twitter" href="{{player__twitter}}" target="_blank"><i class="fab fa-twitter"></i></a>{{/ifCond}}
                            </span>
                        {{/ifCond}}
                    </td>
                    <td class="number-right">{{numCommaFormat player__matches}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
    <div id="no-players">NO PLAYERS TO RANK</div>
{{/if}}