<table id="leaderboard-table">
    <thead>
        <tr>
            <th scope="col">Rank</th>
            <th scope="col">Player</th>
            <th scope="col">Rank</th>
            <th scope="col">Games</th>
        </tr>
    </thead>
    <tbody>
        {{#each this}}
            <tr>
                <td class="number-right">
                    <img class="halo-rank" src="{{concat 'base_url' '/templates/bundle/assets/ranks/' (calcMajorRank ms_2v2_series) '.png'}}" />
                    {{inc @index}}
                </td>
                <td><a href="/profile/{{player__gamertag}}">{{player__gamertag}}</a></td>
                <td class="number">{{ms_2v2_series}}</td>
                <td class="number-right">{{numCommaFormat player__matches}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>