{{#if this}}
    <table id="leaderboard-table">
        <thead>
            <tr>
                <th scope="col">Rank</th>
                <th scope="col">Player</th>
                <th scope="col">Games</th>
            </tr>
        </thead>
        <tbody>
            {{#each this}}
                <tr>
                    <td class="number-rank">
                        <img class="halo-rank" src="{{concat 'base_url' '/templates/bundle/assets/ranks/' (calcMajorRank ms_2v2_series) '.png'}}" />
                        <span class="rank">{{ms_2v2_series}}</span>
                    </td>
                    <td>
                        <a href="/profile/{{player__gamertag}}">

                        {{#ifCond player__donation '>' 0}}
                            <img class="emblem tippy" src="{{player__emblem}}" data-title="${{player__donation}}{{#if player__notes}} + {{player__notes}}{{/if}}" />
                        {{else}}
                            <img class="emblem" src="{{player__emblem}}" />
                        {{/ifCond}}

                        <span class="gamertag" style="color: {{player__color}}">{{player__gamertag}}</span></a>

                        {{#ifCond player__donation '>' 0}}
                            <span id="donator-wrapper">
                                {{#ifCond player__youtube '!=' ''}}<a class="icon youtube" href="{{player__youtube}}" target="_blank"><i class="fab fa-youtube"></i></a>{{/ifCond}}
                                {{#ifCond player__twitch '!=' ''}}<a class="icon twitch" href="{{player__twitch}}" target="_blank"><i class="fab fa-twitch"></i></a>{{/ifCond}}
                                {{#ifCond player__twitter '!=' ''}}<a class="icon twitter" href="{{player__twitter}}" target="_blank"><i class="fab fa-twitter"></i></a>{{/ifCond}}
                            </span>
                        {{/ifCond}}
                    </td>
                    <td class="number-right">{{numCommaFormat player__matches}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
    <div id="no-players">NO PLAYERS TO RANK</div>
{{/if}}