{{#each ranks}}
    <div>
        <h5>{{playlist}}</h5>
        <h3>{{rank}}</h3>
        <img class="halo-rank" src="{{concat 'base_url' '/templates/bundle/assets/ranks/' (calcMajorRank rank record.wins) '.png'}}" />
        {{#ifCond (dict ../leaderboard key) '>' 0}}
            <div class="percent" style="color: {{percentColors (dict ../leaderboard key) ../player_count}}">#{{dict ../leaderboard key}} <span>&#8226;</span> Top {{percent (dict ../leaderboard key) ../player_count}}</div>
        {{/ifCond}}
    </div>
{{/each}}
