<div id="player-details-wrapper">
    <h2>Player Details</h2>
    <p id="profile-hits">{{#if player.hits}}Profile Hits: {{numCommaFormat player.hits}}{{/if}}</p>
</div>


<div id="exp">{{numCommaFormat player.season.wins}} EXP {{#ifCond change.wins '>' 0}}<span class="change {{#ifCond change.wins '<' 0}}neg{{/ifCond}}">{{#ifCond change.wins '>' 0}}+{{/ifCond}}{{change.wins}}</span>{{/ifCond}}</div>

<div class="tab-wrapper active-tab" id="season1-trophy-wrapper">
    <div class="trophy-container">
        <div class="trophy">
            <h6>MCCS</h6>
            <i class="fas fa-crown tier-{{trophyTier 'mccs' player.season.score}} tippy" data-title="1000=<i class='fas fa-crown tier-1'></i> <i class='fas fa-long-arrow-alt-right'></i> 1500=<i class='fas fa-crown tier-2'></i> <i class='fas fa-long-arrow-alt-right'></i> 2000=<i class='fas fa-crown tier-3'></i>"></i>
            <h6>
                {{#ifCond (trophyTier 'mccs' player.season.score) '==' 0}}NONE{{/ifCond}}
                {{#ifCond (trophyTier 'mccs' player.season.score) '==' 1}}BRONZE{{/ifCond}}
                {{#ifCond (trophyTier 'mccs' player.season.score) '==' 2}}SILVER{{/ifCond}}
                {{#ifCond (trophyTier 'mccs' player.season.score) '==' 3}}GOLD{{/ifCond}}
            </h6>
        </div>

        <div class="trophy">
            <h6>RANK 50</h6>
            <i class="tier-{{trophyTier '50' total_50s}} tippy" data-title="1=<i class='tier-1'>50</i> <i class='fas fa-long-arrow-alt-right'></i> 2=<i class='tier-2'>50</i> <i class='fas fa-long-arrow-alt-right'></i> 3=<i class='tier-3'>50</i>">50</i>
            <h6>
                {{#ifCond (trophyTier '50' total_50s) '==' 0}}NONE{{/ifCond}}
                {{#ifCond (trophyTier '50' total_50s) '==' 1}}BRONZE{{/ifCond}}
                {{#ifCond (trophyTier '50' total_50s) '==' 2}}SILVER{{/ifCond}}
                {{#ifCond (trophyTier '50' total_50s) '==' 3}}GOLD{{/ifCond}}
            </h6>
        </div>
    </div>
    <div class="trophy-container">
        <div class="trophy">
            <h6>WINNER</h6>
            <i class="fas fa-award tier-{{trophyTier 'wins' player.wins}} tippy" data-title="1500=<i class='fas fa-award tier-1'></i> <i class='fas fa-long-arrow-alt-right'></i> 3000=<i class='fas fa-award tier-2'></i> <i class='fas fa-long-arrow-alt-right'></i> 4500=<i class='fas fa-award tier-3'></i>"></i>
            <h6>
                {{#ifCond (trophyTier 'wins' player.wins) '==' 0}}NONE{{/ifCond}}
                {{#ifCond (trophyTier 'wins' player.wins) '==' 1}}BRONZE{{/ifCond}}
                {{#ifCond (trophyTier 'wins' player.wins) '==' 2}}SILVER{{/ifCond}}
                {{#ifCond (trophyTier 'wins' player.wins) '==' 3}}GOLD{{/ifCond}}
            </h6>
        </div>
        <div class="trophy">
            <h6>ATHLETIC</h6>
            <i class="far fa-chart-bar tier-{{trophyTier 'kd' player.kd}} tippy" data-title="1KD=<i class='far fa-chart-bar tier-1'></i> <i class='fas fa-long-arrow-alt-right'></i> 1.5KD=<i class='far fa-chart-bar tier-2'></i> <i class='fas fa-long-arrow-alt-right'></i> 2KD=<i class='far fa-chart-bar tier-3'></i>"></i>
            <h6>
                {{#ifCond (trophyTier 'kd' player.kd) '==' 0}}NONE{{/ifCond}}
                {{#ifCond (trophyTier 'kd' player.kd) '==' 1}}BRONZE{{/ifCond}}
                {{#ifCond (trophyTier 'kd' player.kd) '==' 2}}SILVER{{/ifCond}}
                {{#ifCond (trophyTier 'kd' player.kd) '==' 3}}GOLD{{/ifCond}}
            </h6>
        </div>
        <div class="trophy">
            <h6>KILLER</h6>
            <i class="fas fa-skull-crossbones tier-{{trophyTier 'kills' player.kills}} tippy" data-title="25,000=<i class='fas fa-skull-crossbones tier-1'></i> <i class='fas fa-long-arrow-alt-right'></i> 50,000=<i class='fas fa-skull-crossbones tier-2'></i> <i class='fas fa-long-arrow-alt-right'></i> 100,000=<i class='fas fa-skull-crossbones tier-3'></i>"></i>
            <h6>
                {{#ifCond (trophyTier 'kills' player.kills) '==' 0}}NONE{{/ifCond}}
                {{#ifCond (trophyTier 'kills' player.kills) '==' 1}}BRONZE{{/ifCond}}
                {{#ifCond (trophyTier 'kills' player.kills) '==' 2}}SILVER{{/ifCond}}
                {{#ifCond (trophyTier 'kills' player.kills) '==' 3}}GOLD{{/ifCond}}
            </h6>
        </div>
    </div>
    <div class="trophy-container">
        <div class="trophy">
            <h6>MATCHMODER</h6>
            <i class="fas fa-gamepad tier-{{trophyTier 'matches' player.matches}} tippy" data-title="2,500=<i class='fas fa-gamepad tier-1'></i> <i class='fas fa-long-arrow-alt-right'></i> 5,000=<i class='fas fa-gamepad tier-2'></i> <i class='fas fa-long-arrow-alt-right'></i> 7,500=<i class='fas fa-gamepad tier-3'></i>"></i>
            <h6>
                {{#ifCond (trophyTier 'matches' player.matches) '==' 0}}NONE{{/ifCond}}
                {{#ifCond (trophyTier 'matches' player.matches) '==' 1}}BRONZE{{/ifCond}}
                {{#ifCond (trophyTier 'matches' player.matches) '==' 2}}SILVER{{/ifCond}}
                {{#ifCond (trophyTier 'matches' player.matches) '==' 3}}GOLD{{/ifCond}}
            </h6>
        </div>
        <div class="trophy">
            <h6>SCIENTIST</h6>
            <i class="fas fa-exchange-alt tier-{{trophyTier 'wl' player.wl}} tippy" data-title="1.5WL=<i class='fas fa-exchange-alt tier-1'></i> <i class='fas fa-long-arrow-alt-right'></i> 2WL=<i class='fas fa-exchange-alt tier-2'></i> <i class='fas fa-long-arrow-alt-right'></i> 2.5WL=<i class='fas fa-exchange-alt tier-3'></i>"></i>
            <h6>
                {{#ifCond (trophyTier 'wl' player.wl) '==' 0}}NONE{{/ifCond}}
                {{#ifCond (trophyTier 'wl' player.wl) '==' 1}}BRONZE{{/ifCond}}
                {{#ifCond (trophyTier 'wl' player.wl) '==' 2}}SILVER{{/ifCond}}
                {{#ifCond (trophyTier 'wl' player.wl) '==' 3}}GOLD{{/ifCond}}
            </h6>
        </div>
        <div class="trophy">
            <h6>NERD</h6>
            <i class="fas fa-clock tier-{{trophyTier 'playtime' player.epoch}} tippy" data-title="15 days=<i class='fas fa-clock tier-1'></i> <i class='fas fa-long-arrow-alt-right'></i> 30 days=<i class='fas fa-clock tier-2'></i> <i class='fas fa-long-arrow-alt-right'></i> 45 days=<i class='fas fa-clock tier-3'></i>"></i>
            <h6>
                {{#ifCond (trophyTier 'playtime' player.epoch) '==' 0}}NONE{{/ifCond}}
                {{#ifCond (trophyTier 'playtime' player.epoch) '==' 1}}BRONZE{{/ifCond}}
                {{#ifCond (trophyTier 'playtime' player.epoch) '==' 2}}SILVER{{/ifCond}}
                {{#ifCond (trophyTier 'playtime' player.epoch) '==' 3}}GOLD{{/ifCond}}
            </h6>
        </div>
    </div>
</div>