<h2>Player Details</h2>

<div id="exp">{{numCommaFormat wins}} EXP</div>

<div class="stat-container">
    <div class="stat-item" id="playtime-item">
        <div>Playtime</div>
        <div id="playtime">{{playtime}}</div>
    </div>

    <div class="stat-item">
        <div>Total Matches</div>
        <div>{{numCommaFormat matches}}</div>
    </div>
</div>

<div class="stat-container">
    <div class="stat-item">
        <div>Wins</div>
        <div>{{numCommaFormat wins}}</div>
    </div>

    <div class="stat-item">
        <div>Losses</div>
        <div>{{numCommaFormat losses}}</div>
    </div>

    <div class="stat-item">
        <div>W/L Ratio</div>
        <div>{{wl_ratio}}</div>
    </div>
</div>

<div class="stat-container">
    <div class="stat-item">
        <div>Kills</div>
        <div>{{numCommaFormat kills}}</div>
    </div>

    <div class="stat-item">
        <div>Deaths</div>
        <div>{{numCommaFormat deaths}}</div>
    </div>

    <div class="stat-item">
        <div>K/D Ratio</div>
        <div>{{kd_ratio}}</div>
    </div>
</div>