<div class="popup" id="matches-wrapper">
    <div class="header-wrapper">
        <h4>MATCHES</h4>
        <button id="exit-button">
            <div><i class="far fa-times-circle"></i></div>
            <div>esc</div>
        </button>
    </div>

    <p>{{gt}} previous 100 matches!</p>

    <div id="select-wrapper">
        <div>
            <label for="game-input">Game</label>
            <select id="game-input">
                <option value="">None</option>
                <option value="HaloReach">Halo Reach</option>
                <option value="Halo1">Halo 1</option>
                <option value="Halo2">Halo 2</option>
                <option value="Halo3">Halo 3</option>
                <option value="Halo4">Halo 4</option>
            </select>
        </div>
        <div>
            <label for="game-variant-input">Game Variant</label>
            <select id="game-variant-input">
                <option value="">None</option>
                <option value="Ctf">Ctf</option>
                <option value="Slayer">Slayer</option>
                <option value="Oddball">Oddball</option>
                <option value="Koth">Koth</option>
                <option value="Juggernaut">Juggernaut</option>
                <option value="Infection">Infection</option>
                <option value="Flood">Flood</option>
                <option value="Race">Race</option>
                <option value="Extraction">Extraction</option>
                <option value="Dominion">Dominion</option>
                <option value="Regicide">Regicide</option>
                <option value="Grifball">Grifball</option>
                <option value="Ricochet">Ricochet</option>
                <option value="Sandbox (FORGE)">Sandbox (FORGE)</option>
                <option value="Vip">Vip</option>
                <option value="Territories">Territories</option>
                <option value="Assault">Assault</option>
            </select>
        </div>

        <button id="game-submit" data-gt="{{gt}}">Submit</button>
    </div>

    <div id="table-wrapper">
        <table class="table-container">
            <thead>
                <tr>
                    <th class="sortable">NUMBER</th>
                    <th class="sortable">DATETIME</th>
                    <th class="sortable">KILLS</th>
                    <th class="sortable">DEATHS</th>
                    <th class="sortable">ASSISTS</th>
                    <th class="sortable">KD</th>
                    <th class="sortable">HEADSHOTS</th>
                    <th class="sortable">MEDALS</th>
                    <th class="sortable">MAP</th>
                    <th class="sortable">GAMETYPE</th>
                </tr>
            </thead>
            <tbody>
                {{#each matches}}
                    <tr class="{{#if Won}}win{{else}}lose{{/if}}">
                        <td>{{inc @index}}</td>
                        <td>{{date DateTime false}}</td>
                        <td>{{Kills}}</td>
                        <td>{{Deaths}}</td>
                        <td>{{Assists}}</td>
                        <td>{{decimals KD}}</td>
                        <td>{{Headshots}}</td>
                        <td>{{Medals}}</td>
                        <td>{{MapId}}</td>
                        <td>{{GameType}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>