<table class="table-container">
    <thead>
        <tr>
            <th class="sortable">ID</th>
            <th class="sortable">GAMERTAG</th>
            <th class="sortable">BAN</th>
            <th class="sortable">DONATION</th>
            <th>TWITCH</th>
            <th>YOUTUBE</th>
            <th>TWITTER</th>
            <th>MIXER</th>
            <th>SOCIAL</th>
            <th>COLOR</th>
            <th>NOTES</th>
            <th>ACTION</th>
        </tr>
    </thead>

    <tbody>
        {{#each players}}
            <tr>
                <td class="id" data-column="id">{{id}}</td>
                <td class="gamertag" data-column="gamertag">{{gamertag}}</td>
                <td data-column="ban">{{ban}}</td>
                <td data-input="donation">{{donation}}</td>
                <td data-input="twitch">{{twitch}}</td>
                <td data-input="youtube">{{youtube}}</td>
                <td data-input="twitter">{{twitter}}</td>
                <td data-input="mixer">{{mixer}}</td>
                <td data-input="social">{{social}}</td>
                <td data-input="color">{{color}}</td>
                <td data-input="notes">{{notes}}</td>
                <td data-column="action"><span class="history-button" data-gt="{{gamertag}}"><i class="fas fa-history"></i></span></td>
            </tr>
        {{/each}}
    </tbody>
</table>

