<h4><i style="color: gold" class="fas fa-dollar-sign"></i> Recent <span>Donations</span></h4>

<table id="donate-table">
    <thead>
        <tr>
            <th scope="col">Player</th>
            <th scope="col"></th>
            <th scope="col">Donation</th>
        </tr>
    </thead>
    <tbody>
        {{#each this}}
            <tr>
                <td>
                    <a href="/profile/{{gamertag}}"><img class="emblem" src="{{emblem}}" /><span class="gamertag {{donateStyle donation}}" style="color: {{color}}">
                        {{#if rgb}}
                            {{rgbFont gamertag}}
                        {{else}}
                            {{gamertag}}
                        {{/if}}
                    </span></a>
                </td>
                <td>
                    {{#ifCond donation '>' 0}}
                        <span id="donator-wrapper">
                            {{#ifCond donation '>=' 50}}
                                <span class="icon {{donateStyle donation}} tippy" data-title="${{donation}}{{#if notes}} + {{notes}}{{/if}}">$</span>
                            {{/ifCond}}
                            {{#ifCond donation '<' 50}}
                                <span class="icon donator tippy" data-title="${{donation}}{{#if notes}} + {{notes}}{{/if}}"><i style="color: {{donateStyle donation}}" class="fas fa-dollar-sign"></i></span>
                            {{/ifCond}}
                            {{#ifCond social '==' 'youtube'}}<a class="icon youtube" href="https://www.youtube.com/{{youtube}}" target="_blank"><i class="fab fa-youtube"></i></a>{{/ifCond}}
                            {{#ifCond social '==' 'mixer'}}<a class="icon mixer" href="https://mixer.com/{{mixer}}" target="_blank"><i class="fab fa-mixer"></i></a>{{/ifCond}}
                            {{#ifCond social '==' 'twitch'}}<a class="icon twitch" href="https://www.twitch.tv/{{twitch}}" target="_blank"><i class="fab fa-twitch"></i></a>{{/ifCond}}
                            {{#ifCond social '==' 'twitter'}}<a class="icon twitter" href="https://twitter.com/{{twitter}}" target="_blank"><i class="fab fa-twitter"></i></a>{{/ifCond}}
                        </span>
                    {{/ifCond}}
                </td>
                <td class="number">{{numCommaFormat amount}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>