{{#if this}}
    <table id="leaderboard-table">
        <thead>
            <tr>
                <th scope="col">Rank</th>
                <th scope="col">Player</th>
                <th scope="col">Matches</th>
            </tr>
        </thead>
        <tbody>
            {{#each this}}
                <tr>
                    <td class="number-right">
                        {{#ifCond (incStart @index) '==' 1}}
                            <span id="first"><i class="fas fa-crown"></i></span> {{incStart @index}}
                        {{/ifCond}}
                        {{#ifCond (incStart @index) '==' 2}}
                            <span id="second"><i class="fas fa-crown"></i></span> {{incStart @index}}
                        {{/ifCond}}
                        {{#ifCond (incStart @index) '==' 3}}
                            <span id="third"><i class="fas fa-crown"></i></span> {{incStart @index}}
                        {{/ifCond}}
                        {{#ifCond (incStart @index) '>' 3}}
                            {{incStart @index}}
                        {{/ifCond}}
                    </td>
                    <td><a href="/profile/{{gamertag}}"> <img class="emblem" src="{{emblem}}" /> <span class="gamertag">{{gamertag}}</span></a></td>
                    <td class="number">{{numCommaFormat matches}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
    <div id="no-players">NO PLAYERS TO RANK</div>
{{/if}}