{{#if leaderboards}}
    <table id="leaderboard-table">
        <thead>
            <tr>
                <th scope="col">Rank</th>
                <th scope="col">Player</th>
                <th scope="col">{{type}}</th>
                <th scope="col">EXP</th>
            </tr>
        </thead>
        <tbody>
            {{#each leaderboards}}
                <tr>
                    <td class="number-right">
                        {{#ifCond (incStart @index) '==' 1}}
                            <span id="first"><i class="fas fa-trophy"></i></span> {{incStart @index}}
                        {{/ifCond}}
                        {{#ifCond (incStart @index) '==' 2}}
                            <span id="second"><i class="fas fa-trophy"></i></span> {{incStart @index}}
                        {{/ifCond}}
                        {{#ifCond (incStart @index) '==' 3}}
                            <span id="third"><i class="fas fa-trophy"></i></span> {{incStart @index}}
                        {{/ifCond}}
                        {{#ifCond (incStart @index) '>' 3}}
                            {{incStart @index}}
                        {{/ifCond}}
                    </td>
                    <td>
                        <a href="/profile/{{p_gamertag}}"><img class="emblem" src="{{concat 'base_url' '/templates/bundle/assets/emblem.png'}}" /><span class="gamertag {{donateStyle p_donation}}" style="color: {{p_color}}">
                            {{#if p_rgb}}
                                {{rgbFont p_gamertag}}
                            {{else}}
                                {{p_gamertag}}
                            {{/if}}
                        </span></a>
                        {{#ifCond p_donation '>' 0}}
                            <span id="donator-wrapper">
                                {{#ifCond p_donation '>=' 50}}
                                    <span class="icon {{donateStyle p_donation}} tippy" data-title="${{p_donation}}{{#if notes}} + {{notes}}{{/if}}">$</span>
                                {{/ifCond}}
                                {{#ifCond p_donation '<' 50}}
                                    <span class="icon donator tippy" data-title="${{p_donation}}{{#if notes}} + {{notes}}{{/if}}"><i style="color: {{donateStyle p_donation}}" class="fas fa-dollar-sign"></i></span>
                                {{/ifCond}}
                                {{#ifCond p_social '==' 'youtube'}}<a class="icon youtube" href="https://www.youtube.com/{{p_youtube}}" target="_blank"><i class="fab fa-youtube"></i></a>{{/ifCond}}
                                {{#ifCond p_social '==' 'mixer'}}<a class="icon mixer" href="https://mixer.com/{{p_mixer}}" target="_blank"><i class="fab fa-mixer"></i></a>{{/ifCond}}
                                {{#ifCond p_social '==' 'twitch'}}<a class="icon twitch" href="https://www.twitch.tv/{{p_twitch}}" target="_blank"><i class="fab fa-twitch"></i></a>{{/ifCond}}
                                {{#ifCond p_social '==' 'twitter'}}<a class="icon twitter" href="https://twitter.com/{{p_twitter}}" target="_blank"><i class="fab fa-twitter"></i></a>{{/ifCond}}
                            </span>
                        {{/ifCond}}
                    </td>
                    <td class="number">{{numCommaFormat amount}}</td>
                    <td class="number-right">{{numCommaFormat exp}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
    <div id="no-players">NO PLAYERS TO RANK</div>
{{/if}}