{{#if leaderboards}}
    <p style="color: #cdcdcd; font-family: 'Rajdhani', 'Roboto', sans-serif; text-align: center; font-weight: bold;">
        {{#ifCond season '==' '1'}}
            MCCS formula: (wins * 0.5) + (kills * 0.1) + (total_ranks * 10) + (total_50s * 50)
        {{/ifCond}}
        {{#ifCond season '==' '2'}}
            MCCS formula: (wins * 0.5) + (kills * 0.1) + (total_ranks * 20) + (total_50s * 100)
        {{/ifCond}}
    </p>

    <table id="leaderboard-table">
        <thead>
            <tr>
                <th scope="col">Rank</th>
                <th scope="col">Player</th>
                <th scope="col">{{type}}</th>
            </tr>
        </thead>
        <tbody>
            {{#each leaderboards}}
                <tr>
                    <td class="number-right">
                        {{#ifCond (incStart @index) '==' 1}}
                            <span id="first"><i class="fas fa-trophy"></i></span> {{incStart @index}}
                        {{/ifCond}}
                        {{#ifCond (incStart @index) '==' 2}}
                            <span id="second"><i class="fas fa-trophy"></i></span> {{incStart @index}}
                        {{/ifCond}}
                        {{#ifCond (incStart @index) '==' 3}}
                            <span id="third"><i class="fas fa-trophy"></i></span> {{incStart @index}}
                        {{/ifCond}}
                        {{#ifCond (incStart @index) '>' 3}}
                            {{incStart @index}}
                        {{/ifCond}}
                    </td>
                    <td>
                        <a href="/profile/{{gamertag}}"><img class="emblem" src="{{emblem}}" /><span class="gamertag {{#if glow}}glow{{/if}} {{#ifCond donation '>=' 100}}disco-donator{{/ifCond}}" style="color: {{color}}">
                            {{#if rgb}}
                                {{rgbFont gamertag}}
                            {{else}}
                                {{gamertag}}
                            {{/if}}
                        </span></a>
                        {{#ifCond donation '>' 0}}
                            <span id="donator-wrapper">
                                {{#ifCond donation '>=' 50}}
                                    <span class="icon {{donateStyle donation}} tippy" data-title="${{donation}}{{#if notes}} + {{notes}}{{/if}}">$</span>
                                {{/ifCond}}
                                {{#ifCond donation '<' 50}}
                                    <span class="icon donator tippy" data-title="${{donation}}{{#if notes}} + {{notes}}{{/if}}"><i style="color: {{donateStyle donation}}" class="fas fa-dollar-sign"></i></span>
                                {{/ifCond}}
                                {{#ifCond social '==' 'youtube'}}<a class="icon youtube" href="https://www.youtube.com/{{youtube}}" target="_blank"><i class="fab fa-youtube"></i></a>{{/ifCond}}
                                {{#ifCond social '==' 'twitch'}}<a class="icon twitch" href="https://www.twitch.tv/{{twitch}}" target="_blank"><i class="fab fa-twitch"></i></a>{{/ifCond}}
                                {{#ifCond social '==' 'mixer'}}<a class="icon mixer" href="https://mixer.com/{{mixer}}" target="_blank"><i class="fab fa-mixer"></i></a>{{/ifCond}}
                                {{#ifCond social '==' 'twitter'}}<a class="icon twitter" href="https://twitter.com/{{twitter}}" target="_blank"><i class="fab fa-twitter"></i></a>{{/ifCond}}
                            </span>
                        {{/ifCond}}
                    </td>
                    <td class="number">{{numCommaFormat amount}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
    <div id="no-players">NO PLAYERS TO RANK</div>
{{/if}}