<p>Minimum 250 matches.</p>
<table id="leaderboard-table">
    <thead>
        <tr>
            <th scope="col">Rank</th>
            <th scope="col">Player</th>
            <th scope="col">W/L Ratio</th>
            <th scope="col">Games</th>
        </tr>
    </thead>
    <tbody>
        {{#each this}}
            {{#ifCond matches '>=' 250}}
                <tr>
                    <td class="number-right">
                        {{#ifCond (inc @index) '==' 1}}
                            <span id="first"><i class="fas fa-crown"></i></span> {{inc @index}}
                        {{/ifCond}}
                        {{#ifCond (inc @index) '==' 2}}
                            <span id="second"><i class="fas fa-crown"></i></span> {{inc @index}}
                        {{/ifCond}}
                        {{#ifCond (inc @index) '==' 3}}
                            <span id="third"><i class="fas fa-crown"></i></span> {{inc @index}}
                        {{/ifCond}}
                        {{#ifCond (inc @index) '>' 3}}
                            {{inc @index}}
                        {{/ifCond}}
                    </td>
                    <td><a href="/profile/{{gamertag}}">{{gamertag}}</a></td>
                    <td class="number">{{numCommaFormat wl_ratio}}</td>
                    <td class="number-right">{{numCommaFormat matches}}</td>
                </tr>
            {{/ifCond}}
        {{/each}}
    </tbody>
</table>