{{#each ranks}}
    <div>
        <h5>{{playlist}}</h5>
        <h3>{{rank}}</h3>
        <img class="halo-rank" src="{{concat 'base_url' '/templates/bundle/assets/ranks/' (calcMajorRank rank record.wins) '.png'}}" />

        <!--{{#if verified}}-->
            <!--<span class="verified-icon tippy" data-title="Verified">&#10004;</span>-->
        <!--{{/if}}-->

        {{#ifCond leaderboard '>' 0}}
            {{#if ../player.ban}}
                <div class="percent">NOT RANKED</div>
            {{else}}
                <div class="percent" style="color: {{percentColors leaderboard ../player_count}}">#{{leaderboard}} <span>&#8226;</span> Top {{percent leaderboard ../player_count}}</div>
            {{/if}}
        {{else}}
            <div class="percent">NOT RANKED</div>
        {{/ifCond}}
    </div>
{{/each}}
