<div id="stats-header">
    <h5>Stats</h5>

    <ol>
        <li class="tab active" id="all-tab" data-type="all-wrapper"><b>All</b></li>
        <span>|</span>
        <li class="tab" id="s1-tab" data-type="season1-wrapper"><b>S1</b></li>
        <span>|</span>
        <li class="tab" id="s2-tab" data-type="season2-wrapper"><b>S2</b></li>
        <span>|</span>
        <li class="tab" id="s3-tab" data-type="season3-wrapper"><b>S3</b></li>
        <span>|</span>
        <li class="tab" id="s4-tab" data-type="season4-wrapper"><b>S4</b></li>
        <span>|</span>
        <li class="tab" id="s5-tab" data-type="season5-wrapper"><b>S5</b></li>
        <span>|</span>
        <li class="tab" id="s6-tab" data-type="season6-wrapper"><b>S6</b></li>
    </ol>
</div>


<div class="tab-wrapper" id="season4-wrapper">
    <div class="stat-container">
        <div class="stat-item" id="score-item">
            <div>MCC Score</div>
            <span>{{numCommaFormat player.season4.score}}</span>
            <!--{{#ifCond change.score '>' 0}}<span class="change {{#ifCond change.score '<' 0}}neg{{/ifCond}}">{{#ifCond change.score '>' 0}}+{{else}}-{{/ifCond}}{{change.score}}</span>{{/ifCond}}-->
            {{#ifCond leaderboard.s4_score '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.s4_score player_count}}">#{{leaderboard.s4_score}} <span>&#8226;</span> Top {{percent leaderboard.s4_score player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>

        <div class="stat-item" id="playtime-item">
            <div>Playtime</div>
            <div class="playtime">{{player.season4.playtime}}</div>
            {{#ifCond leaderboard.s4_playtime '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.s4_playtime player_count}}">#{{leaderboard.s4_playtime}} <span>&#8226;</span> Top {{percent leaderboard.s4_playtime player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>

        <div class="stat-item">
            <div>Total Matches</div>
            <span>{{numCommaFormat player.season4.matches}}</span>
            <!--{{#ifCond change.matches '>' 0}}<span class="change {{#ifCond change.matches '<' 0}}neg{{/ifCond}}">{{#ifCond change.matches '>' 0}}+{{else}}-{{/ifCond}}{{change.matches}}</span>{{/ifCond}}-->
            {{#ifCond leaderboard.s4_matches '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.s4_matches player_count}}">#{{leaderboard.s4_matches}} <span>&#8226;</span> Top {{percent leaderboard.s4_matches player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>
    </div>

    <div class="stat-container">
        <div class="stat-item">
            <div>Wins</div>
            <span>{{numCommaFormat player.season4.wins}}</span>
            <!--{{#ifCond change.wins '>' 0}}<span class="change {{#ifCond change.wins '<' 0}}neg{{/ifCond}}">{{#ifCond change.wins '>' 0}}+{{else}}-{{/ifCond}}{{change.wins}}</span>{{/ifCond}}-->
            {{#ifCond leaderboard.s4_wins '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.s4_wins player_count}}">#{{leaderboard.s4_wins}} <span>&#8226;</span> Top {{percent leaderboard.s4_wins player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>

        <div class="stat-item">
            <div>Losses</div>
            <span>{{numCommaFormat player.season4.losses}}</span>
            <!--{{#ifCond change.losses '>' 0}}<span class="change {{#ifCond change.losses '<' 0}}neg{{/ifCond}}">{{#ifCond change.losses '>' 0}}+{{else}}-{{/ifCond}}{{change.losses}}</span>{{/ifCond}}-->
            {{#ifCond leaderboard.s4_losses '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.s4_losses player_count}}">#{{leaderboard.s4_losses}} <span>&#8226;</span> Top {{percent leaderboard.s4_losses player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>

        <div class="stat-item">
            <div>W/L Ratio</div>
            <span>{{player.season4.wl}}</span>
            <!--{{#ifCond change.s_wl '>' 0}}<span class="change {{#ifCond change.s_wl '<' 0}}neg{{/ifCond}}">{{#ifCond change.s_wl '>' 0}}+{{else}}-{{/ifCond}}{{change.s_wl}}</span>{{/ifCond}}-->
            {{#ifCond leaderboard.s4_wl '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.s4_wl player_count}}">#{{leaderboard.s4_wl}} <span>&#8226;</span> Top {{percent leaderboard.s4_wl player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>
    </div>

    <div class="stat-container">
        <div class="stat-item">
            <div>Kills</div>
            <span>{{numCommaFormat player.season4.kills}}</span>
            <!--{{#ifCond change.kills '>' 0}}<span class="change {{#ifCond change.kills '<' 0}}neg{{/ifCond}}">{{#ifCond change.kills '>' 0}}+{{else}}-{{/ifCond}}{{change.kills}}</span>{{/ifCond}}-->
            {{#ifCond leaderboard.s4_kills '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.s4_kills player_count}}">#{{leaderboard.s4_kills}} <span>&#8226;</span> Top {{percent leaderboard.s4_kills player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>

        <div class="stat-item">
            <div>Deaths</div>
            <span>{{numCommaFormat player.season4.deaths}}</span>
            <!--{{#ifCond change.deaths '>' 0}}<span class="change {{#ifCond change.deaths '<' 0}}neg{{/ifCond}}">{{#ifCond change.deaths '>' 0}}+{{else}}-{{/ifCond}}{{change.deaths}}</span>{{/ifCond}}-->
            {{#ifCond leaderboard.s4_deaths '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.s4_deaths player_count}}">#{{leaderboard.s4_deaths}} <span>&#8226;</span> Top {{percent leaderboard.s4_deaths player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>

        <div class="stat-item">
            <div>K/D Ratio</div>
            <span>{{player.season4.kd}}</span>
            <!--{{#ifCond change.s_kd '>' 0}}<span class="change {{#ifCond change.s_kd '<' 0}}neg{{/ifCond}}">{{#ifCond change.s_kd '>' 0}}+{{else}}-{{/ifCond}}{{change.s_kd}}</span>{{/ifCond}}-->
            {{#ifCond leaderboard.s4_kd '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.s4_kd player_count}}">#{{leaderboard.s4_kd}} <span>&#8226;</span> Top {{percent leaderboard.s4_kd player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>
    </div>

    <div class="stat-container">
        <div class="stat-item">
            <div>Headshots</div>
            <span>{{numCommaFormat player.season4.headshots}}</span>
            <!--{{#ifCond change.headshots '>' 0}}<span class="change {{#ifCond change.headshots '<' 0}}neg{{/ifCond}}">{{#ifCond change.headshots '>' 0}}+{{else}}-{{/ifCond}}{{change.headshots}}</span>{{/ifCond}}-->
            {{#ifCond leaderboard.s4_headshots '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.headshots player_count}}">#{{leaderboard.s4_headshots}} <span>&#8226;</span> Top {{percent leaderboard.s4_headshots player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>

        <div class="stat-item">
            <div>Assists</div>
            <span>{{numCommaFormat player.season4.assists}}</span>
            <!--{{#ifCond change.assists '>' 0}}<span class="change {{#ifCond change.assists '<' 0}}neg{{/ifCond}}">{{#ifCond change.assists '>' 0}}+{{else}}-{{/ifCond}}{{change.assists}}</span>{{/ifCond}}-->
            {{#ifCond leaderboard.s4_assists '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.assists player_count}}">#{{leaderboard.s4_assists}} <span>&#8226;</span> Top {{percent leaderboard.s4_assists player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>

        <div class="stat-item">
            <div>Betrayals</div>
            <span>{{numCommaFormat player.season4.betrayals}}</span>
            <!--{{#ifCond change.betrayals '>' 0}}<span class="change {{#ifCond change.betrayals '<' 0}}neg{{/ifCond}}">{{#ifCond change.betrayals '>' 0}}+{{else}}-{{/ifCond}}{{change.betrayals}}</span>{{/ifCond}}-->
            {{#ifCond leaderboard.s4_betrayals '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.s4_betrayals player_count}}">#{{leaderboard.s4_betrayals}} <span>&#8226;</span> Top {{percent leaderboard.s4_betrayals player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>
    </div>
</div>


<div class="tab-wrapper" id="season3-wrapper">
    <div class="stat-container">
        <div class="stat-item" id="score-item">
            <div>MCC Score</div>
            <span>{{numCommaFormat player.season3.score}}</span>
            {{#ifCond leaderboard.s3_score '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.s3_score player_count}}">#{{leaderboard.s3_score}} <span>&#8226;</span> Top {{percent leaderboard.s3_score player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>

        <div class="stat-item" id="playtime-item">
            <div>Playtime</div>
            <div class="playtime">{{player.season3.playtime}}</div>
            {{#ifCond leaderboard.s3_playtime '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.s3_playtime player_count}}">#{{leaderboard.s3_playtime}} <span>&#8226;</span> Top {{percent leaderboard.s3_playtime player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>

        <div class="stat-item">
            <div>Total Matches</div>
            <span>{{numCommaFormat player.season3.matches}}</span>
            {{#ifCond leaderboard.s3_matches '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.s3_matches player_count}}">#{{leaderboard.s3_matches}} <span>&#8226;</span> Top {{percent leaderboard.s3_matches player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>
    </div>

    <div class="stat-container">
        <div class="stat-item">
            <div>Wins</div>
            <span>{{numCommaFormat player.season3.wins}}</span>
            {{#ifCond leaderboard.s3_wins '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.s3_wins player_count}}">#{{leaderboard.s3_wins}} <span>&#8226;</span> Top {{percent leaderboard.s3_wins player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>

        <div class="stat-item">
            <div>Losses</div>
            <span>{{numCommaFormat player.season3.losses}}</span>
            {{#ifCond leaderboard.s3_losses '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.s3_losses player_count}}">#{{leaderboard.s3_losses}} <span>&#8226;</span> Top {{percent leaderboard.s3_losses player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>

        <div class="stat-item">
            <div>W/L Ratio</div>
            <span>{{player.season3.wl}}</span>
            {{#ifCond leaderboard.s3_wl '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.s3_wl player_count}}">#{{leaderboard.s3_wl}} <span>&#8226;</span> Top {{percent leaderboard.s3_wl player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>
    </div>

    <div class="stat-container">
        <div class="stat-item">
            <div>Kills</div>
            <span>{{numCommaFormat player.season3.kills}}</span>
            {{#ifCond leaderboard.s3_kills '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.s3_kills player_count}}">#{{leaderboard.s3_kills}} <span>&#8226;</span> Top {{percent leaderboard.s3_kills player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>

        <div class="stat-item">
            <div>Deaths</div>
            <span>{{numCommaFormat player.season3.deaths}}</span>
            {{#ifCond leaderboard.s3_deaths '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.s3_deaths player_count}}">#{{leaderboard.s3_deaths}} <span>&#8226;</span> Top {{percent leaderboard.s3_deaths player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>

        <div class="stat-item">
            <div>K/D Ratio</div>
            <span>{{player.season3.kd}}</span>
            {{#ifCond leaderboard.s3_kd '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.s3_kd player_count}}">#{{leaderboard.s3_kd}} <span>&#8226;</span> Top {{percent leaderboard.s3_kd player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>
    </div>

    <div class="stat-container">
        <div class="stat-item">
            <div>Headshots</div>
            <span>{{numCommaFormat player.season3.headshots}}</span>
            {{#ifCond leaderboard.s3_headshots '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.headshots player_count}}">#{{leaderboard.s3_headshots}} <span>&#8226;</span> Top {{percent leaderboard.s3_headshots player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>

        <div class="stat-item">
            <div>Assists</div>
            <span>{{numCommaFormat player.season3.assists}}</span>
            {{#ifCond leaderboard.s3_assists '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.assists player_count}}">#{{leaderboard.s3_assists}} <span>&#8226;</span> Top {{percent leaderboard.s3_assists player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>

        <div class="stat-item">
            <div>Betrayals</div>
            <span>{{numCommaFormat player.season3.betrayals}}</span>
            {{#ifCond leaderboard.s3_betrayals '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.s3_betrayals player_count}}">#{{leaderboard.s3_betrayals}} <span>&#8226;</span> Top {{percent leaderboard.s3_betrayals player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>
    </div>
</div>

<div class="tab-wrapper" id="season2-wrapper">
    <div class="stat-container">
        <div class="stat-item" id="score-item">
            <div>MCC Score</div>
            <span>{{numCommaFormat player.season2.score}}</span>
            {{#ifCond leaderboard.s2_score '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.s2_score player_count}}">#{{leaderboard.s2_score}} <span>&#8226;</span> Top {{percent leaderboard.s2_score player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>

        <div class="stat-item" id="playtime-item">
            <div>Playtime</div>
            <div class="playtime">{{player.season2.playtime}}</div>
            {{#ifCond leaderboard.s2_playtime '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.s2_playtime player_count}}">#{{leaderboard.s2_playtime}} <span>&#8226;</span> Top {{percent leaderboard.s2_playtime player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>

        <div class="stat-item">
            <div>Total Matches</div>
            <span>{{numCommaFormat player.season2.matches}}</span>
            {{#ifCond leaderboard.s2_matches '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.s2_matches player_count}}">#{{leaderboard.s2_matches}} <span>&#8226;</span> Top {{percent leaderboard.s2_matches player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>
    </div>

    <div class="stat-container">
        <div class="stat-item">
            <div>Wins</div>
            <span>{{numCommaFormat player.season2.wins}}</span>
            {{#ifCond leaderboard.s2_wins '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.s2_wins player_count}}">#{{leaderboard.s2_wins}} <span>&#8226;</span> Top {{percent leaderboard.s2_wins player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>

        <div class="stat-item">
            <div>Losses</div>
            <span>{{numCommaFormat player.season2.losses}}</span>
            {{#ifCond leaderboard.s2_losses '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.s2_losses player_count}}">#{{leaderboard.s2_losses}} <span>&#8226;</span> Top {{percent leaderboard.s2_losses player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>

        <div class="stat-item">
            <div>W/L Ratio</div>
            <span>{{player.season2.wl}}</span>
            {{#ifCond leaderboard.s2_wl '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.s2_wl player_count}}">#{{leaderboard.s2_wl}} <span>&#8226;</span> Top {{percent leaderboard.s2_wl player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>
    </div>

    <div class="stat-container">
        <div class="stat-item">
            <div>Kills</div>
            <span>{{numCommaFormat player.season2.kills}}</span>
            {{#ifCond leaderboard.s2_kills '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.s2_kills player_count}}">#{{leaderboard.s2_kills}} <span>&#8226;</span> Top {{percent leaderboard.s2_kills player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>

        <div class="stat-item">
            <div>Deaths</div>
            <span>{{numCommaFormat player.season2.deaths}}</span>
            {{#ifCond leaderboard.s2_deaths '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.s2_deaths player_count}}">#{{leaderboard.s2_deaths}} <span>&#8226;</span> Top {{percent leaderboard.s2_deaths player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>

        <div class="stat-item">
            <div>K/D Ratio</div>
            <span>{{player.season2.kd}}</span>
            {{#ifCond leaderboard.s2_kd '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.s2_kd player_count}}">#{{leaderboard.s2_kd}} <span>&#8226;</span> Top {{percent leaderboard.s2_kd player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>
    </div>
</div>

<div class="tab-wrapper" id="season1-wrapper">
    <div class="stat-container">
        <div class="stat-item" id="score-item">
            <div>MCC Score</div>
            <span>{{numCommaFormat player.season.score}}</span>
            {{#ifCond leaderboard.s1_score '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.s1_score player_count}}">#{{leaderboard.s1_score}} <span>&#8226;</span> Top {{percent leaderboard.s1_score player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>

        <div class="stat-item" id="playtime-item">
            <div>Playtime</div>
            <div class="playtime">{{player.season.playtime}}</div>
            {{#ifCond leaderboard.s1_playtime '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.s1_playtime player_count}}">#{{leaderboard.s1_playtime}} <span>&#8226;</span> Top {{percent leaderboard.s1_playtime player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>

        <div class="stat-item">
            <div>Total Matches</div>
            <span>{{numCommaFormat player.season.matches}}</span>
            {{#ifCond leaderboard.s1_matches '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.s1_matches player_count}}">#{{leaderboard.s1_matches}} <span>&#8226;</span> Top {{percent leaderboard.s1_matches player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>
    </div>

    <div class="stat-container">
        <div class="stat-item">
            <div>Wins</div>
            <span>{{numCommaFormat player.season.wins}}</span>
            {{#ifCond leaderboard.s1_wins '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.s1_wins player_count}}">#{{leaderboard.s1_wins}} <span>&#8226;</span> Top {{percent leaderboard.s1_wins player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>

        <div class="stat-item">
            <div>Losses</div>
            <span>{{numCommaFormat player.season.losses}}</span>
            {{#ifCond leaderboard.s1_losses '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.s1_losses player_count}}">#{{leaderboard.s1_losses}} <span>&#8226;</span> Top {{percent leaderboard.s1_losses player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>

        <div class="stat-item">
            <div>W/L Ratio</div>
            <span>{{player.season.wl}}</span>
            {{#ifCond leaderboard.s1_wl '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.s1_wl player_count}}">#{{leaderboard.s1_wl}} <span>&#8226;</span> Top {{percent leaderboard.s1_wl player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>
    </div>

    <div class="stat-container">
        <div class="stat-item">
            <div>Kills</div>
            <span>{{numCommaFormat player.season.kills}}</span>
            {{#ifCond leaderboard.s1_kills '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.s1_kills player_count}}">#{{leaderboard.s1_kills}} <span>&#8226;</span> Top {{percent leaderboard.s1_kills player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>

        <div class="stat-item">
            <div>Deaths</div>
            <span>{{numCommaFormat player.season.deaths}}</span>
            {{#ifCond leaderboard.s1_deaths '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.s1_deaths player_count}}">#{{leaderboard.s1_deaths}} <span>&#8226;</span> Top {{percent leaderboard.s1_deaths player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>

        <div class="stat-item">
            <div>K/D Ratio</div>
            <span>{{player.season.kd}}</span>
            {{#ifCond leaderboard.s1_kd '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.s1_kd player_count}}">#{{leaderboard.s1_kd}} <span>&#8226;</span> Top {{percent leaderboard.s1_kd player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>
    </div>
</div>


<div class="tab-wrapper" id="season5-wrapper">
    <div class="stat-container">
        <div class="stat-item" id="score-item">
            <div>MCC Score</div>
            <span>{{numCommaFormat player.season5.score}}</span>
            <!--{{#ifCond change.score '>' 0}}<span class="change {{#ifCond change.score '<' 0}}neg{{/ifCond}}">{{#ifCond change.score '>' 0}}+{{else}}-{{/ifCond}}{{change.score}}</span>{{/ifCond}}-->
            {{#ifCond leaderboard.s5_score '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.s5_score player_count}}">#{{leaderboard.s5_score}} <span>&#8226;</span> Top {{percent leaderboard.s5_score player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>

        <div class="stat-item" id="playtime-item">
            <div>Playtime</div>
            <div class="playtime">{{player.season5.playtime}}</div>
            {{#ifCond leaderboard.s5_playtime '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.s5_playtime player_count}}">#{{leaderboard.s5_playtime}} <span>&#8226;</span> Top {{percent leaderboard.s5_playtime player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>

        <div class="stat-item">
            <div>Total Matches</div>
            <span>{{numCommaFormat player.season5.matches}}</span>
            <!--{{#ifCond change.matches '>' 0}}<span class="change {{#ifCond change.matches '<' 0}}neg{{/ifCond}}">{{#ifCond change.matches '>' 0}}+{{else}}-{{/ifCond}}{{change.matches}}</span>{{/ifCond}}-->
            {{#ifCond leaderboard.s5_matches '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.s5_matches player_count}}">#{{leaderboard.s5_matches}} <span>&#8226;</span> Top {{percent leaderboard.s5_matches player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>
    </div>

    <div class="stat-container">
        <div class="stat-item">
            <div>Wins</div>
            <span>{{numCommaFormat player.season5.wins}}</span>
            <!--{{#ifCond change.wins '>' 0}}<span class="change {{#ifCond change.wins '<' 0}}neg{{/ifCond}}">{{#ifCond change.wins '>' 0}}+{{else}}-{{/ifCond}}{{change.wins}}</span>{{/ifCond}}-->
            {{#ifCond leaderboard.s5_wins '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.s5_wins player_count}}">#{{leaderboard.s5_wins}} <span>&#8226;</span> Top {{percent leaderboard.s5_wins player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>

        <div class="stat-item">
            <div>Losses</div>
            <span>{{numCommaFormat player.season5.losses}}</span>
            <!--{{#ifCond change.losses '>' 0}}<span class="change {{#ifCond change.losses '<' 0}}neg{{/ifCond}}">{{#ifCond change.losses '>' 0}}+{{else}}-{{/ifCond}}{{change.losses}}</span>{{/ifCond}}-->
            {{#ifCond leaderboard.s5_losses '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.s5_losses player_count}}">#{{leaderboard.s5_losses}} <span>&#8226;</span> Top {{percent leaderboard.s5_losses player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>

        <div class="stat-item">
            <div>W/L Ratio</div>
            <span>{{player.season5.wl}}</span>
            <!--{{#ifCond change.s_wl '>' 0}}<span class="change {{#ifCond change.s_wl '<' 0}}neg{{/ifCond}}">{{#ifCond change.s_wl '>' 0}}+{{else}}-{{/ifCond}}{{change.s_wl}}</span>{{/ifCond}}-->
            {{#ifCond leaderboard.s5_wl '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.s5_wl player_count}}">#{{leaderboard.s5_wl}} <span>&#8226;</span> Top {{percent leaderboard.s5_wl player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>
    </div>

    <div class="stat-container">
        <div class="stat-item">
            <div>Kills</div>
            <span>{{numCommaFormat player.season5.kills}}</span>
            <!--{{#ifCond change.kills '>' 0}}<span class="change {{#ifCond change.kills '<' 0}}neg{{/ifCond}}">{{#ifCond change.kills '>' 0}}+{{else}}-{{/ifCond}}{{change.kills}}</span>{{/ifCond}}-->
            {{#ifCond leaderboard.s5_kills '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.s5_kills player_count}}">#{{leaderboard.s5_kills}} <span>&#8226;</span> Top {{percent leaderboard.s5_kills player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>

        <div class="stat-item">
            <div>Deaths</div>
            <span>{{numCommaFormat player.season5.deaths}}</span>
            <!--{{#ifCond change.deaths '>' 0}}<span class="change {{#ifCond change.deaths '<' 0}}neg{{/ifCond}}">{{#ifCond change.deaths '>' 0}}+{{else}}-{{/ifCond}}{{change.deaths}}</span>{{/ifCond}}-->
            {{#ifCond leaderboard.s5_deaths '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.s5_deaths player_count}}">#{{leaderboard.s5_deaths}} <span>&#8226;</span> Top {{percent leaderboard.s5_deaths player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>

        <div class="stat-item">
            <div>K/D Ratio</div>
            <span>{{player.season5.kd}}</span>
            <!--{{#ifCond change.s_kd '>' 0}}<span class="change {{#ifCond change.s_kd '<' 0}}neg{{/ifCond}}">{{#ifCond change.s_kd '>' 0}}+{{else}}-{{/ifCond}}{{change.s_kd}}</span>{{/ifCond}}-->
            {{#ifCond leaderboard.s5_kd '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.s5_kd player_count}}">#{{leaderboard.s5_kd}} <span>&#8226;</span> Top {{percent leaderboard.s5_kd player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>
    </div>

    <div class="stat-container">
        <div class="stat-item">
            <div>Headshots</div>
            <span>{{numCommaFormat player.season5.headshots}}</span>
            <!--{{#ifCond change.headshots '>' 0}}<span class="change {{#ifCond change.headshots '<' 0}}neg{{/ifCond}}">{{#ifCond change.headshots '>' 0}}+{{else}}-{{/ifCond}}{{change.headshots}}</span>{{/ifCond}}-->
            {{#ifCond leaderboard.s5_headshots '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.headshots player_count}}">#{{leaderboard.s5_headshots}} <span>&#8226;</span> Top {{percent leaderboard.s5_headshots player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>

        <div class="stat-item">
            <div>Assists</div>
            <span>{{numCommaFormat player.season5.assists}}</span>
            <!--{{#ifCond change.assists '>' 0}}<span class="change {{#ifCond change.assists '<' 0}}neg{{/ifCond}}">{{#ifCond change.assists '>' 0}}+{{else}}-{{/ifCond}}{{change.assists}}</span>{{/ifCond}}-->
            {{#ifCond leaderboard.s5_assists '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.assists player_count}}">#{{leaderboard.s5_assists}} <span>&#8226;</span> Top {{percent leaderboard.s5_assists player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>

        <div class="stat-item">
            <div>Betrayals</div>
            <span>{{numCommaFormat player.season5.betrayals}}</span>
            <!--{{#ifCond change.betrayals '>' 0}}<span class="change {{#ifCond change.betrayals '<' 0}}neg{{/ifCond}}">{{#ifCond change.betrayals '>' 0}}+{{else}}-{{/ifCond}}{{change.betrayals}}</span>{{/ifCond}}-->
            {{#ifCond leaderboard.s5_betrayals '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.s5_betrayals player_count}}">#{{leaderboard.s5_betrayals}} <span>&#8226;</span> Top {{percent leaderboard.s5_betrayals player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>
    </div>
</div>

<!--SEASON6-->
<div class="tab-wrapper" id="season6-wrapper">
    <div class="stat-container">
        <div class="stat-item" id="score-item">
            <div>MCC Score</div>
            <span>{{numCommaFormat player.season6.score}}</span>
            <!--{{#ifCond change.score '>' 0}}<span class="change {{#ifCond change.score '<' 0}}neg{{/ifCond}}">{{#ifCond change.score '>' 0}}+{{else}}-{{/ifCond}}{{change.score}}</span>{{/ifCond}}-->
            {{#ifCond leaderboard.s6_score '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.s6_score player_count}}">#{{leaderboard.s6_score}} <span>&#8226;</span> Top {{percent leaderboard.s6_score player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>

        <div class="stat-item" id="playtime-item">
            <div>Playtime</div>
            <div class="playtime">{{player.season6.playtime}}</div>
            {{#ifCond leaderboard.s6_playtime '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.s6_playtime player_count}}">#{{leaderboard.s6_playtime}} <span>&#8226;</span> Top {{percent leaderboard.s6_playtime player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>

        <div class="stat-item">
            <div>Total Matches</div>
            <span>{{numCommaFormat player.season6.matches}}</span>
            <!--{{#ifCond change.matches '>' 0}}<span class="change {{#ifCond change.matches '<' 0}}neg{{/ifCond}}">{{#ifCond change.matches '>' 0}}+{{else}}-{{/ifCond}}{{change.matches}}</span>{{/ifCond}}-->
            {{#ifCond leaderboard.s6_matches '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.s6_matches player_count}}">#{{leaderboard.s6_matches}} <span>&#8226;</span> Top {{percent leaderboard.s6_matches player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>
    </div>

    <div class="stat-container">
        <div class="stat-item">
            <div>Wins</div>
            <span>{{numCommaFormat player.season6.wins}}</span>
            <!--{{#ifCond change.wins '>' 0}}<span class="change {{#ifCond change.wins '<' 0}}neg{{/ifCond}}">{{#ifCond change.wins '>' 0}}+{{else}}-{{/ifCond}}{{change.wins}}</span>{{/ifCond}}-->
            {{#ifCond leaderboard.s6_wins '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.s6_wins player_count}}">#{{leaderboard.s6_wins}} <span>&#8226;</span> Top {{percent leaderboard.s6_wins player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>

        <div class="stat-item">
            <div>Losses</div>
            <span>{{numCommaFormat player.season6.losses}}</span>
            <!--{{#ifCond change.losses '>' 0}}<span class="change {{#ifCond change.losses '<' 0}}neg{{/ifCond}}">{{#ifCond change.losses '>' 0}}+{{else}}-{{/ifCond}}{{change.losses}}</span>{{/ifCond}}-->
            {{#ifCond leaderboard.s6_losses '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.s6_losses player_count}}">#{{leaderboard.s6_losses}} <span>&#8226;</span> Top {{percent leaderboard.s6_losses player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>

        <div class="stat-item">
            <div>W/L Ratio</div>
            <span>{{player.season6.wl}}</span>
            <!--{{#ifCond change.s_wl '>' 0}}<span class="change {{#ifCond change.s_wl '<' 0}}neg{{/ifCond}}">{{#ifCond change.s_wl '>' 0}}+{{else}}-{{/ifCond}}{{change.s_wl}}</span>{{/ifCond}}-->
            {{#ifCond leaderboard.s6_wl '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.s6_wl player_count}}">#{{leaderboard.s6_wl}} <span>&#8226;</span> Top {{percent leaderboard.s6_wl player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>
    </div>

    <div class="stat-container">
        <div class="stat-item">
            <div>Kills</div>
            <span>{{numCommaFormat player.season6.kills}}</span>
            <!--{{#ifCond change.kills '>' 0}}<span class="change {{#ifCond change.kills '<' 0}}neg{{/ifCond}}">{{#ifCond change.kills '>' 0}}+{{else}}-{{/ifCond}}{{change.kills}}</span>{{/ifCond}}-->
            {{#ifCond leaderboard.s6_kills '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.s6_kills player_count}}">#{{leaderboard.s6_kills}} <span>&#8226;</span> Top {{percent leaderboard.s6_kills player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>

        <div class="stat-item">
            <div>Deaths</div>
            <span>{{numCommaFormat player.season6.deaths}}</span>
            <!--{{#ifCond change.deaths '>' 0}}<span class="change {{#ifCond change.deaths '<' 0}}neg{{/ifCond}}">{{#ifCond change.deaths '>' 0}}+{{else}}-{{/ifCond}}{{change.deaths}}</span>{{/ifCond}}-->
            {{#ifCond leaderboard.s6_deaths '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.s6_deaths player_count}}">#{{leaderboard.s6_deaths}} <span>&#8226;</span> Top {{percent leaderboard.s6_deaths player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>

        <div class="stat-item">
            <div>K/D Ratio</div>
            <span>{{player.season6.kd}}</span>
            <!--{{#ifCond change.s_kd '>' 0}}<span class="change {{#ifCond change.s_kd '<' 0}}neg{{/ifCond}}">{{#ifCond change.s_kd '>' 0}}+{{else}}-{{/ifCond}}{{change.s_kd}}</span>{{/ifCond}}-->
            {{#ifCond leaderboard.s6_kd '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.s6_kd player_count}}">#{{leaderboard.s6_kd}} <span>&#8226;</span> Top {{percent leaderboard.s6_kd player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>
    </div>

    <div class="stat-container">
        <div class="stat-item">
            <div>Headshots</div>
            <span>{{numCommaFormat player.season6.headshots}}</span>
            <!--{{#ifCond change.headshots '>' 0}}<span class="change {{#ifCond change.headshots '<' 0}}neg{{/ifCond}}">{{#ifCond change.headshots '>' 0}}+{{else}}-{{/ifCond}}{{change.headshots}}</span>{{/ifCond}}-->
            {{#ifCond leaderboard.s6_headshots '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.headshots player_count}}">#{{leaderboard.s6_headshots}} <span>&#8226;</span> Top {{percent leaderboard.s6_headshots player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>

        <div class="stat-item">
            <div>Assists</div>
            <span>{{numCommaFormat player.season6.assists}}</span>
            {{#ifCond change.assists '>' 0}}<span class="change {{#ifCond change.assists '<' 0}}neg{{/ifCond}}">{{#ifCond change.assists '>' 0}}+{{else}}-{{/ifCond}}{{change.assists}}</span>{{/ifCond}}
            {{#ifCond leaderboard.s6_assists '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.assists player_count}}">#{{leaderboard.s6_assists}} <span>&#8226;</span> Top {{percent leaderboard.s6_assists player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>

        <div class="stat-item">
            <div>Betrayals</div>
            <span>{{numCommaFormat player.season6.betrayals}}</span>
            <!--{{#ifCond change.betrayals '>' 0}}<span class="change {{#ifCond change.betrayals '<' 0}}neg{{/ifCond}}">{{#ifCond change.betrayals '>' 0}}+{{else}}-{{/ifCond}}{{change.betrayals}}</span>{{/ifCond}}-->
            {{#ifCond leaderboard.s6_betrayals '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.s6_betrayals player_count}}">#{{leaderboard.s6_betrayals}} <span>&#8226;</span> Top {{percent leaderboard.s6_betrayals player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>
    </div>
</div>
<!--SEASON6-->

<!--ALL-->
<div class="tab-wrapper active-tab" id="all-wrapper">
    <div class="stat-container">
        <div class="stat-item" id="playtime-item">
            <div>Playtime</div>
            <div class="playtime">{{player.playtime}}</div>
            {{#ifCond leaderboard.playtime '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.playtime player_count}}">#{{leaderboard.playtime}} <span>&#8226;</span> Top {{percent leaderboard.playtime player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>

        <div class="stat-item">
            <div>Total Matches</div>
            <span>{{numCommaFormat player.matches}}</span>
            <!--{{#ifCond change.matches '>' 0}}<span class="change {{#ifCond change.matches '<' 0}}neg{{/ifCond}}">{{#ifCond change.matches '>' 0}}+{{/ifCond}}{{change.matches}}</span>{{/ifCond}}-->
            {{#ifCond leaderboard.matches '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.matches player_count}}">#{{leaderboard.matches}} <span>&#8226;</span> Top {{percent leaderboard.matches player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>

        <div class="stat-item tippy" data-title="1st Place is rewarded to players<br>when they are on the top<br>slayers/objective of the lobby.">
            <div>Total 1<sup>st</sup> Place</div>
            <span>{{numCommaFormat player.first_place}}</span>
            <!--{{#ifCond change.first_place '>' 0}}<span class="change {{#ifCond change.first_place '<' 0}}neg{{/ifCond}}">{{#ifCond change.first_place '>' 0}}+{{/ifCond}}{{change.first_place}}</span>{{/ifCond}}-->
            {{#ifCond leaderboard.first_place '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.matches player_count}}">#{{leaderboard.first_place}} <span>&#8226;</span> Top {{percent leaderboard.first_place player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>
    </div>

    <div class="stat-container">
        <div class="stat-item">
            <div>Wins</div>
            <span>{{numCommaFormat player.wins}}</span>
            <!--{{#ifCond change.wins '>' 0}}<span class="change {{#ifCond change.wins '<' 0}}neg{{/ifCond}}">{{#ifCond change.wins '>' 0}}+{{/ifCond}}{{change.wins}}</span>{{/ifCond}}-->
            {{#ifCond leaderboard.wins '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.wins player_count}}">#{{leaderboard.wins}} <span>&#8226;</span> Top {{percent leaderboard.wins player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>

        <div class="stat-item">
            <div>Losses</div>
            <span>{{numCommaFormat player.losses}}</span>
            <!--{{#ifCond change.losses '>' 0}}<span class="change {{#ifCond change.losses '<' 0}}neg{{/ifCond}}">{{#ifCond change.losses '>' 0}}+{{/ifCond}}{{change.losses}}</span>{{/ifCond}}-->
            {{#ifCond leaderboard.losses '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.losses player_count}}">#{{leaderboard.losses}} <span>&#8226;</span> Top {{percent leaderboard.losses player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>

        <div class="stat-item">
            <div>W/L Ratio</div>
            <span>{{player.wl}}</span>
            <!--{{#ifCond change.wl '>' 0}}<span class="change {{#ifCond change.wl '<' 0}}neg{{/ifCond}}">{{#ifCond change.wl '>' 0}}+{{/ifCond}}{{change.wl}}</span>{{/ifCond}}-->
            {{#ifCond leaderboard.wl '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.wl player_count}}">#{{leaderboard.wl}} <span>&#8226;</span> Top {{percent leaderboard.wl player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>
    </div>

    <div class="stat-container">
        <div class="stat-item">
            <div>Kills</div>
            <span>{{numCommaFormat player.kills}}</span>
            <!--{{#ifCond change.kills '>' 0}}<span class="change {{#ifCond change.kills '<' 0}}neg{{/ifCond}}">{{#ifCond change.kills '>' 0}}+{{/ifCond}}{{change.kills}}</span>{{/ifCond}}-->
            {{#ifCond leaderboard.kills '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.kills player_count}}">#{{leaderboard.kills}} <span>&#8226;</span> Top {{percent leaderboard.kills player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>

        <div class="stat-item">
            <div>Deaths</div>
            <span>{{numCommaFormat player.deaths}}</span>
            <!--{{#ifCond change.deaths '>' 0}}<span class="change {{#ifCond change.deaths '<' 0}}neg{{/ifCond}}">{{#ifCond change.deaths '>' 0}}+{{/ifCond}}{{change.deaths}}</span>{{/ifCond}}-->
            {{#ifCond leaderboard.deaths '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.deaths player_count}}">#{{leaderboard.deaths}} <span>&#8226;</span> Top {{percent leaderboard.deaths player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>

        <div class="stat-item">
            <div>K/D Ratio</div>
            <span>{{player.kd}}</span>
            <!--{{#ifCond change.kd '>' 0}}<span class="change {{#ifCond change.kd '<' 0}}neg{{/ifCond}}">{{#ifCond change.kd '>' 0}}+{{/ifCond}}{{change.kd}}</span>{{/ifCond}}-->
            {{#ifCond leaderboard.kd '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.kd player_count}}">#{{leaderboard.kd}} <span>&#8226;</span> Top {{percent leaderboard.kd player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>
    </div>

    <div class="stat-container">
        <div class="stat-item">
            <div>Headshots</div>
            <span>{{numCommaFormat player.headshots}}</span>
            <!--{{#ifCond change.headshots '>' 0}}<span class="change {{#ifCond change.headshots '<' 0}}neg{{/ifCond}}">{{#ifCond change.headshots '>' 0}}+{{/ifCond}}{{change.headshots}}</span>{{/ifCond}}-->
            {{#ifCond leaderboard.headshots '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.headshots player_count}}">#{{leaderboard.headshots}} <span>&#8226;</span> Top {{percent leaderboard.headshots player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>

        <div class="stat-item">
            <div>Assists</div>
            <span>{{numCommaFormat player.assists}}</span>
            <!--{{#ifCond change.assists '>' 0}}<span class="change {{#ifCond change.assists '<' 0}}neg{{/ifCond}}">{{#ifCond change.assists '>' 0}}+{{/ifCond}}{{change.assists}}</span>{{/ifCond}}-->
            {{#ifCond leaderboard.assists '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.assists player_count}}">#{{leaderboard.assists}} <span>&#8226;</span> Top {{percent leaderboard.assists player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>

        <div class="stat-item">
            <div>Betrayals</div>
            <span>{{player.betrayals}}</span>
            <!--{{#ifCond change.betrayals '>' 0}}<span class="change {{#ifCond change.betrayals '<' 0}}neg{{/ifCond}}">{{#ifCond change.betrayals '>' 0}}+{{/ifCond}}{{change.betrayals}}</span>{{/ifCond}}-->
            {{#ifCond leaderboard.betrayals '>' 0}}
                {{#if player.ban}}
                    <div class="percent">NOT RANKED</div>
                {{else}}
                    <div class="percent" style="color: {{percentColors leaderboard.betrayals player_count}}">#{{leaderboard.betrayals}} <span>&#8226;</span> Top {{percent leaderboard.betrayals player_count}}</div>
                {{/if}}
            {{else}}
                <div class="percent">NOT RANKED</div>
            {{/ifCond}}
        </div>
    </div>
</div>