<h1>Radar Halo 3 Timers</h1>

<div id="ad-wrapper">
</div>

<ul id="tabular-wrapper">
    <li class="tab active" data-type="assembly">Assembly</li>
    <li class="tab" data-type="blackout">Blackout</li>
    <li class="tab" data-type="boundless">Boundless</li>
    <li class="tab" data-type="citadel">Citadel</li>
    <li class="tab" data-type="cold-storage">Cold Storage</li>
    <li class="tab" data-type="construct">Construct</li>
    <li class="tab" data-type="epilogue">Epilogue</li>
    <li class="tab" data-type="epitaph">Epitaph</li>
    <li class="tab" data-type="foundry">Foundry</li>
    <li class="tab" data-type="ghost-town">Ghost Town</li>
    <li class="tab" data-type="guardian">Guardian</li>
    <li class="tab" data-type="heretic">Heretic</li>
    <li class="tab" data-type="high-ground">High Ground</li>
    <li class="tab" data-type="isolation">Isolation</li>
    <li class="tab" data-type="last-resort">Last Resort</li>
    <li class="tab" data-type="longshore">Longshore</li>
    <li class="tab" data-type="narrows">Narrows</li>
    <li class="tab" data-type="orbital">Orbital</li>
    <li class="tab" data-type="pit">Pit</li>
    <li class="tab" data-type="sandbox">Sandbox</li>
    <li class="tab" data-type="snowbound">Snowbound</li>
    <li class="tab" data-type="standoff">Standoff</li>
    <li class="tab" data-type="pantheon">Pantheon</li>
    <li class="tab" data-type="reminiscent">Reminiscent</li>
    <li class="tab" data-type="tundra">Tundra</li>
    <li class="tab" data-type="wasteland">Wasteland</li>
    <li class="tab" data-type="vessel">Vessel</li>
</ul>

<div class="power-wrapper">
    <div>
        <h3>Timing Weapons</h3>
        <p class="description">You must meet one of the conditions to successfully time weapons.</p>
        <ol>
            <li>The timer starts when Player stands still for <b>3 seconds</b>.</li>
            <li>The timer starts when Player dies with power weapon.</li>
            <li class="inner">i. If Player stood still prior before dieing this does not apply.</li>
            <li>The timer starts when Player stacks weapons.</li>
        </ol>
    </div>
</div>

<div id="map-wrapper">
    {{#each this}}
        <div class="tab-wrapper" id="{{replaceAll this.map ' ' '-'}}">
            <h3>{{this.map}}</h3>
            <img class="map-img" src="/templates/bundle/assets/maps/h3_map/{{replaceAll this.map ' ' ''}}.png" />
            <h5>Power Weapons</h5>
            <div class="flex-wrapper">
                {{#each this.power}}
                    <div>
                        <img title="{{@key}} Map" src="/templates/bundle/assets/timer/{{@key}}.png">
                        <h4>{{@key}}</h4>
                        <p class="description">{{this}}</p>
                    </div>
                {{/each}}
            </div>
            {{#if this.power_up}}
                <h5>Power Up</h5>
                <div class="flex-wrapper">
                    {{#each this.power_up}}
                        <div>
                            <img title="{{@key}}" src="/templates/bundle/assets/timer/{{replaceAll @key ' ' ''}}.png">
                            <h4>{{@key}}</h4>
                            <p class="description">{{this}}</p>
                        </div>
                    {{/each}}
                </div>
            {{/if}}
            {{#if this.equipment}}
                <h5>Equipment</h5>
                <div class="flex-wrapper">
                    {{#each this.equipment}}
                        <div>
                            <img title="{{@key}}" src="/templates/bundle/assets/timer/{{replaceAll @key ' ' ''}}.png">
                            <h4>{{@key}}</h4>
                            <p class="description">{{this}}</p>
                        </div>
                    {{/each}}
                </div>
            {{/if}}
        </div>
    {{/each}}
</div>